@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
/* font-family: 'Hanken Grotesk', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Hanken Grotesk", sans-serif;
}

body {
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result {
	height: 100%;
	width: 50%;
	text-align: center;
	padding: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 40px;
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result h3 {
	color: hsl(241, 100%, 89%);
	font-size: 1.5em;
	font-family: "Hanken Grotesk", sans-serif;
}

/* Had trouble keeping the round shape of class ".score" while responsive
Any/All feedback is welcomed */

.score {
	height: 50%;
	width: 75%;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.score span {
	font-size: 4em;
	font-weight: 700;
	color: white;
}

.score p {
	color: hsla(241, 100%, 89%, 0.5);
}

.result > span {
	font-size: 2em;
	color: white;
	font-weight: 700;
}

.result > p {
	font-size: 1.3em;
	color: hsl(241, 100%, 89%);
}

.summary {
	width: 50%;
	height: 100%;
	padding: 5%;
	border-radius: 0 40px 40px 0;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.13);
}

.summary h3 {
	font-size: 1.5em;
	color: hsl(224, 30%, 27%);
}

.reaction,
.memory,
.verbal,
.visual {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	border-radius: 0.5em;
	margin: 1em 0;
}

.reaction {
	background-color: hsl(0, 100%, 67%, 0.1);
}

.memory {
	background-color: hsl(39, 100%, 56%, 0.1);
}

.verbal {
	background-color: hsl(166, 100%, 37%, 0.1);
}

.visual {
	background-color: hsl(234, 85%, 45%, 0.1);
}

.icon_react,
.icon_mem,
.icon_ver,
.icon_vis {
	display: flex;
}

.icon_react i,
.icon_mem i,
.icon_ver i,
.icon_vis i {
	padding-top: 3px;
}

.icon_react p {
	color: hsl(0, 100%, 67%, 0.9);
	font-weight: 700;
	padding-left: 10%;
}

.react_score,
.mem_score,
.ver_score,
.vis_score {
	display: flex;
}

.cont {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100%;
	background-color: hsl(224, 30%, 27%);
	padding: 1em 3em;
	margin: 1.5em 0;
	border-radius: 2em;
	color: white;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
