@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
/* font-family: 'Hanken Grotesk', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Hanken Grotesk", sans-serif;
}

body {
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result {
	height: 100%;
	width: 50%;
	text-align: center;
	padding: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 40px;
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result h3 {
	color: hsl(241, 100%, 89%);
	font-size: 1.5em;
	font-family: "Hanken Grotesk", sans-serif;
}

/* Had trouble keeping the round shape of class ".score" while responsive
Any/All feedback is welcomed */

.score {
	height: 45%;
	width: 75%;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.score span {
	font-size: 4em;
	font-weight: 700;
	color: white;
}

.score p {
	color: hsla(241, 100%, 89%, 0.5);
}

.result > span {
	font-size: 2em;
	color: white;
	font-weight: 700;
}

.result > p {
	font-size: 1.3em;
	color: hsl(241, 100%, 89%);
}

.summary {
	width: 50%;
	height: 100%;
	padding: 5%;
	border-radius: 0 40px 40px 0;
	box-shadow: 10px 10px 50px rgba(118, 138, 226, 0.247);
}

.summary h3 {
	font-size: 1.5em;
	color: hsl(224, 30%, 27%);
	margin-bottom: 1.5em;
}

.reaction,
.memory,
.verbal,
.visual {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	border-radius: 0.5em;
	margin: 1.1em 0;
}

.reaction {
	background-color: hsl(0, 100%, 67%, 0.1);
}

.memory {
	background-color: hsl(39, 100%, 56%, 0.1);
}

.verbal {
	background-color: hsl(166, 100%, 37%, 0.1);
}

.visual {
	background-color: hsl(234, 85%, 45%, 0.1);
}

.icon_react,
.icon_mem,
.icon_ver,
.icon_vis {
	display: flex;
}

.icon_react i,
.icon_mem i,
.icon_ver i,
.icon_vis i {
	padding-top: 3px;
	padding-right: 20%;
}

.icon_react p {
	color: hsl(0, 100%, 67%, 0.9);
	font-weight: 700;
}

.icon_mem p {
	font-weight: 700;
	color: hsl(39, 100%, 56%);
}

.icon_ver p {
	font-weight: 700;
	color: hsl(166, 100%, 37%);
}

.icon_vis p {
	font-weight: 700;
	color: hsl(234, 85%, 45%);
}

.react_score,
.mem_score,
.ver_score,
.vis_score {
	display: flex;
}

.react_score > p,
.mem_score > p,
.ver_score > p,
.vis_score > p {
	color: hsl(224, 30%, 27%);
	font-weight: 800;
	margin-right: 5px;
}

.react_score p + p,
.mem_score p + p,
.ver_score p + p,
.vis_score p + p {
	font-weight: 800;
	color: hsl(224, 30%, 27%, 0.5);
}

.cont {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 100%;
	background-color: hsl(224, 30%, 27%);
	padding: 1em 3em;
	margin-top: 5em;
	border-radius: 2em;
	color: white;
}

.cont:hover {
	background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
	margin-top: 2em;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Media Queries Start */

@media screen and (max-width: 760px) {
	body {
		display: flex;
		flex-direction: column;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.result {
		padding: 5%;
		border-radius: 40px 40px 0 0;
	}

	.result h3 {
		font-size: 1em;
	}

	.result span {
		font-size: 1.5em;
	}

	.result p {
		font-size: 1em;
		padding-top: 1em;
	}

	.score {
		margin-top: 1em;
		margin-bottom: 1em;
		width: 7em;
		height: 7em;
	}

	.score span {
		font-size: 2.5em;
	}

	.summary {
		border-radius: 0 0 40px 40px;
	}
	.summary h3 {
		font-size: 1em;
	}
}
